<!DOCTYPE html>

<html>
    <head>
        <title class="">{{tabTitel}}</title>
        <link rel="icon" href="/img/icon.png">
        <link rel="stylesheet" href="/css/style.css">

    </head>

    <body> 
        <div class="mein-content">

             {{>header}}
             <img class="portrait" src="/img/javaFX.jpg">
        
             <p>erstellt durch {{name}} </p>


        </div>


       

        {{>footer}}

        
    </body>


</html>